.style{
    background-color: beige;
    color: rgb(59, 6, 6);
    text-align: justify;
}
.basics{
    font-size: x-large;
    font-weight:bold;

}
.body{
    font-size: x-large;
    font-weight:bold;
}
.text{
    font-size: x-large;
    font-weight:bold;
}
.link{
    font-size: x-large;
    font-weight:bold;
}
.format{
    font-size: x-large;
    font-weight:bold;

}
.list{
    font-size: x-large;
    font-weight:bold;

}
.graphs{
    font-size: x-large;
    font-weight:bold;
}
.urva{
    font-size: x-large;
    font-weight:bold;
}
.html{
    color: brown;
    font-size: large;
}
.hea{
    color: brown
    font-size: large;
}
.boy{
    color: brown
    font-size: large;
}
.tit{
    color: brown;
    font-size: large;
}
.ground{
    color: brown;
    font-size: large;
}
.tex{
    color: brown;
    font-size: large;
}
.lin{
    color: brown;
    font-size: large;
}
.vlink{
    color: brown;
    font-size: large;
}
.alik{
    color: brown;
    font-size: large;
}
.pre{
    color: brown;
    font-size: large;
}
.ding{
    color: brown;
    font-size: large;
}
.bold{
    color: brown;
    font-size: large;
}
.write{
    color: brown;
    font-size: large;
}
.stro{
    color: brown;
    font-size: large;
}
.para{
    color: brown;
    font-size: large;
}
.br{
    color: brown;
    font-size: large;
}
.block{
    color: brown;
    font-size: large;
}
.div{
    color: brown;
    font-size: large;
}
.unorder{
    color: brown;
    font-size: large;
}
.orders{
    color: brown;
    font-size: large;
}
.ifra{
    color: brown;
    font-size: large;
}
.noor{
    color: brown;
    font-size: large;
}
.irha{
    color: brown;
    font-size: large;
}
.hadi{
    color: brown;
    font-size: large;
}
.fara{
    color: brown;
    font-size: large;
}